.buttonSale .withBg{
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    background-color: red;
    color: white;
}

.buttonSale .withBg:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.078);
    transition: 0.3s;
}

@media (max-width: 400px) {
    .buttonSale .withBg {
        padding: 8px 4px;
    }
}