.main {
    width: 100%;
    height: 150vh;
    background-image: url("../../img/LiftDetoxCaps.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;    
}

.main .imgDefault {
    width: fit-content;
    position: relative;
    top: 16%;
    left: 24%;
}

@media (max-width: 1200px) {
    .main {
        width: 100%;
        height: 100vh;   
    }
} 

@media (max-width: 550px) {
    .main {
        height: 86vh;
        background-image: url("../../img/LiftDetoxCaps.jpg");
    }

    .main .imgDefault {
        width: fit-content;
        position: relative;
        top: 16%;
        left: 8%;
    }
}
