.about {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 32px;
    text-align: center;
}

.about .mainTitle span{
    color: green;
}

.about .formula {
    margin: auto;
    text-align: center;
}

.about .formula h3 {
    margin-bottom: 40px;
}

.about .secretFormula {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.about .secretFormula img {
    width: 100%;
}

@media (max-width: 600px) {
    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about h1 {
        width: 80%;
        text-align: center;
    }
}