header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(153, 255, 153, 0.316);
    padding: 1.2rem 0;
    z-index: 1;   
    position: relative;
}

.header .whatsapp {
    background-color: rgba(0, 128, 0, 0.603);
    padding: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.header .logoImg {
    width: 4rem;
}

.header .whatsappIcon {
    width: 2rem;
}
