footer {
    margin-top: 48px;
    background-color: #d6fad6;
    padding: 64px 0;
}
footer .container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

footer h3 {
    margin-bottom: 24px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer li a {
    color: blue;
    text-decoration: none;
} 

footer li a:hover {
    color: rgba(0, 0, 255, 0.434);
}

footer .links {
    width: fit-content;
    margin: auto;
}

footer img {
    width: 12rem;
}

footer .notifications {
    height: fit-content;
}

footer .notifications h3 {
    font-size: 16px;
}

footer .notifications h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

footer .notifications p {
    max-width: 400px;
}


@media (max-width: 1200px) {
    footer .container {
        justify-content: space-between;
        width: 85%;
    }   
}

@media (max-width: 800px) {
    footer .container {
        width: 95%;
    }

    footer .notifications h2 {
        font-size: 20px;

    }
}

@media (max-width: 601px) {
    footer .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    footer .links {
        text-align: center;
        margin-bottom: 24px;
    }

    footer .notifications {
        text-align: center;
    }

    footer ul {
        gap: 24px;
    }
}